<table class="individual-trip-table">
 <thead>
  <th> ID </th>
  <th> Date </th>
  <th> Cost </th>
  <th> Driver </th>
  <th> Passenger </th>
  <th> Rating </th>
  </thead>
    <tbody>
      <tr>
        <td> <%= link_to @trip.id, trip_path(@trip) %></td>
        <% d = @trip.date %>
        <td> <%= d.strftime("%m/%d/%Y") %></td>
        <td> <%= @trip.cost * 0.01 %></td>
        <td> <%= link_to @trip.driver.name, driver_path(@trip.driver) %></td>
        <td> <%= link_to @trip.passenger.name, passenger_path(@trip.passenger) %></td>
        <% if @trip.rating %>
          <td> <%= @trip.rating %></td>
        <% else %>
          <td> Trip in progress </td>
        <% end %>
        <td> <%= link_to "Delete", trip_path(@trip), method: :delete, data: { confirm: "Press Ok to continue"} %>
            <%= link_to "Edit", edit_trip_path(@trip) %> 
        </td>
      </tr>
    </tbody>
</table>