<ul>
<li>
<%= @passenger.name %>
</li>
<li>
<%= @passenger.phone_num %>
</li>
<li>
Total spending: $<%= @passenger.total_amount/100.0 %>
</li>
<li>
<strong>Rating</strong>
<% @passenger.trips.each do |trip| %>
<% unless trip.rating %>
<%= form_with model: @trip do |f| %>
  <%= f.label :rating %>
  <%= f.select :rating, options_for_select(1..5) %>

  <%= f.submit "Rate your trip" %>
  <% end %>
<% else %>
  <%= link_to "Request trip", passenger_trips_path(@passenger.id), method: :post %>
  <% end %>
<% end %>
</%= image_tag @passenger.name.downcase + ".jpg" %>
</ul>

<table class="individual-passenger-table">
  <% @passenger.trips.each do |trip| %>
    <tr>
      <td> <%= link_to trip.id, trip_path(id: trip.id) %></td>
      <td> <%= trip.date %></td>
      <td> <%= "$#{ (trip.cost * 0.01).round(2) }" %></td>
      <td> <%= trip.driver.name %><td>
      <td> <%= trip.rating %></td>
    </tr>
  <% end %>
</table>