<h2> Driver Image </h2>
<ul>
  <li>
    <%= @driver.name %> 
  </li>
  <li>
    <%= @driver.vin %>
  </li>
  <li>
  <% if @driver.available %>
    <%= link_to "Go Online", toggle_available_path(@driver), method: :patch %>
  <% else %>
    <%= link_to "Go Offline", toggle_available_path(@driver), method: :patch %>
  <% end %>
  </li>
<end>

<Driver Trips>
<table class="table-show">
    <thead>
    <tr>
      <th>Trip Id</th>
      <th>Date</th>
      <th>Driver</th>
      <th>Passenger</th>
      <th>Price</th>
      <th>Rating</th>
      <th>Options</th>
    </tr>
      </thead>
  <% @driver.trips.each do |trip| %>
    <tbody>
      <tr>
        <td> <%= trip.id %></td>
        <% d = trip.date %>
        <td> <%= d.strftime("%m/%d/%Y") %></td>
        <td> <%= "$#{ (trip.cost * 0.01).round(2) }" %></td>
        <td> <%= trip.passenger.name %><td>
        <td> <%= trip.rating %></td>
      </tr>
    </tbody>
  <% end%>
</table>
