<h2> Driver Image </h2>
<ul>
  <li>
    <%= @driver.name %> 
  </li>
  <li>
   Vin: <%= @driver.vin %>
  </li>
  <li>
    Average rating: <%= @driver.average_rating%>
  </li>
  <li>
  <% if @driver.available %>
    <%= link_to "Go Online", toggle_available_path(@driver), method: :patch %>
  <% else %>
    <%= link_to "Go Offline", toggle_available_path(@driver), method: :patch %>
  <% end %>
  </li>
<end>

<Driver Trips>
<table class="table-show">
  <thead>
    <tr>
      <th>Trip Id</th>
      <th>Date</th>
      <th>Passenger</th>
      <th>Price</th>
      <th>Rating</th>
      <th>Options</th>
    </tr>
  </thead>
    <tbody>
  <% @driver.trips.each do |trip| %>
    <tbody>
      <tr>
        <td> <%= trip.id %></td>
        <% d = trip.date %>
        <td> <%= d.strftime("%m/%d/%Y") %></td>
        <td> <%= link_to trip.passenger.name, passenger_path(trip.passenger.id) %></td>
        <td> <%= "$#{ (trip.cost * 0.01).round(2) }" %></td>
        <td> <%= trip.rating %></td>
        <td> <%= link_to "Edit" %>
             <%= link_to "Delete"%>
        </td>
      </tr>
    </tbody> 
  <% end%>
</table>

<div class="driver-options">
  <%= link_to "Edit", edit_driver_path(@driver), method: :patch %>
  <%= link_to "Delete", driver_path(@driver), method: :delete, data: { confirm: "Press Ok to continue."}%>
</div>
